*{
  margin: 0;
  padding: 0;
}
p{
  margin-top: 10px solid #FF0000
}
button a{
  text-decoration: none;
  color: #FF0000;
  background:#FFFFFF;
  border: 0px;
  margin: 0;
}
button{
  border: 0;
  background:#00EB04;
}
button :hover{
  color: #FAFAFA;
}